{% extends 'main/base.html' %} {% load static %} {% block content %}

<body>
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{profile.title}}</h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% if images|length > 0 %} {% for image in images %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{image.image.url}}" alt="{{image.text}}" />

              <div class="card-body">
                <p class="card-text">
                  {{image.description}} . . .
                  <a
                    href="{% url 'image-details' slug1=category.slug slug2=image.slug %}"
                    >read more</a
                  >
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="{% url 'image-details' slug1=category.slug slug2=image.slug %}"
                      ><button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Image Details
                      </button></a
                    >
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary copy-btn"
                      data-landImage.url="{{image.landImage.url}}"
                    >
                      Copy Link
                    </button>
                  </div>
                  <small class="text-muted">{{image.date_created|date}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <h2>No sites Uploaded for this profile</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <!-- <p>Template adapted from Bootstrap 5 by <a href="#">DeanKa Images</a>.</p> -->
    </div>
  </footer>

  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

{% endblock %}
