<div class="class" style="font-family: 'Jost', sans-serif;">
  {% extends 'main/base.html' %}
  {% load ratings %}
  {% block content %}
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-6 mx-auto">
              {% if results %}
              <h5 class="text-center">Found {{ results|length }} projects{{ results|pluralize }}</h5>
              {% else %}
              <h5 class="text-center"> Found 0 user with username <strong>{{message}}</strong></h5>

              <a class="d-block mx-auto" href="/">
                  <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
              </a>
              {% endif %}
              <hr>

          </div>

      </div>

      {% if results %}
      {% for res in results %}


      <div class="row">
        <div class="col-sm">
            <div class="view view-cascade overlay">
                <img class="img-fluid" src="{{res.projects_screenshot.url}}" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>{{res.title}}</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">Description</h6>
                <!-- Text -->
                <p class="card-text">{{res.description}}
                </p>
                <a href="{{res.project_url}}" target="_blank" rel="noopener">
                    <button class="btn btn-primary">Visit Site</button>
                </a>
                <h5 style="padding-left: 120%;" class="text-secondary">By: {{res.user}}</h5>
            </div>
        </div>
    </div>




      <!-- <div class="row pt-3">
          <div class="col-md-8">
              <img src="{{res.projects_screenshot.url}}" alt="oops cant display" height="300px">
          </div>
          <div class="col-md-4">
              <span><strong><a href="{{res.project_url}}">{{res.description}}</a></strong></span>
          </div>
      </div> -->
      {%endfor%}
      {%endif%}

  </div>


  {% endblock %}
</div>